body{
font-family:Arial;
padding:20px;
background:#eef2f7;
}

h2{
color:#2c3e50;
}

button{
background:#27ae60;
color:white;
padding:10px;
border:none;
}

input,select{
padding:10px;
margin:5px;
}

ul{
background:white;
padding:10px;
}

